/* src/styles/globals.css */

@font-face {
    font-family: 'SF Compact Display';
    src: url('/fonts/SF-Compact-Display-Ultralight.ttf')
        format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('/fonts/SF-Compact-Display-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('/fonts/SF-Compact-Display-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('/fonts/SF-Compact-Display-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('/fonts/SF-Compact-Display-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('/fonts/SF-Compact-Display-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('/fonts/SF-Compact-Display-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* luego las directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;